.form {
  position: relative;
  display: flex;
  gap: 40px;
}

.form-control {
  display: block;
  height: 50px;
  padding: 0 25px;
  font-size: 24px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form button {
  padding: 6px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #bdd891;
  border-color: #bdd891;
}

.form button:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.valid {
  color: #fff;
  background-color: #83df83;
  border-color: #4cae4c;
}

.invalid {
  color: #fff;
  background-color: #c91212;
  border-color: #c91212;
}

.message {
  position: absolute;
  bottom: -45px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 6px solid #bb1f1f;
  padding: 5px;
  border-radius: 5px;
  background-color: #fdfbf8;
  font-size: 18px;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
